*.brokerpak
providers/terraform-provider-csbsqlserver/cloudfoundry.org
providers/terraform-provider-csbmssqldbrunfailover/cloudfoundry.org
cloud-service-broker
.idea
csbmssqldbrunfailover.test
.csb.db
.vscode
*.code-workspace
terraform/azure-ai-model/provision/tofu.auto.tfvars
terraform/azure-ai-model/provision/terraform.tfstate
terraform/azure-ai-model/provision/.terraform.lock.hcl
terraform/azure-ai-model/provision/.ash_history
terraform/azure-ai-model/provision/.terraform
